:root {
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);
  --orange: hsl(28, 100%, 52%);
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);
}

@font-face {
  font-family: "DMSans";
  src: url(assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
  font-weight: 300, 500, 600, 600i, 700;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url(assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
  font-weight: 700;
}

body {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  font-family: "DMSans";
  padding: 4rem;
}

header {
  display: flex;
  justify-content: space-between;
}

.dropdown-units {
  background-color: var(--neutral-600);
  color: var(--neutral-0);
  width: 7.5rem;
  height: 2.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dropdown-units:hover{
  background-color: var(--neutral-700);
}

.dropdown-units-box {
  display: flex;
  gap: 0.8rem;
}

.dropdown-units-box > span{
  font-size: medium;
}
